body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, p, a, input, form, textarea {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, 'Hiragino Sans GB', 微软雅黑,
    'WenQuanYi Micro Hei', STHeiti, SimSun, sans-serif;;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    display: block;
}

.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
}

body {
    background-color: rgb(224, 224, 224);
}

.warp {
    position: relative;
    margin: 10px auto;
    width: 1060px;
}

.warp > .main-left {
    position: absolute;
    width: 270px;
    height: 960px;
    margin-bottom: 10px;
    padding: 16px 16px;
    background-color: rgb(0, 191, 165);
    border-radius: 5px 0 0 5px;
}

.warp > .main-right {
    position: absolute;
    left: 302px;
    width: 718px;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: rgb(240, 242, 241);
    border-radius: 0 5px 5px 0;
}

.main-left .head-portrait {
    width: 120px;
    margin: 25px auto 16px;
}

.main-left > .curriculum-vitae-title {
    margin: 0 0 25px 0;
    text-align: center;
    color: #fff;
}

.main-left > .curriculum-vitae-title > p {
    font-size: 14px;
    font-weight: bold;
}

.main-left > .curriculum-vitae-title > h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5em;
}

.icon-bookmark {
    display: inline-block;
    width: 8px;
    height: 18px;
    margin: 0 10px;
    background-color: #9f3;
    transform: rotateZ(180deg) translateY(-3px);
}

.icon-bookmark:after {
    float: left;
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgb(0, 191, 165);
    transform: rotateZ(48deg) translateY(-3px) translateX(-2px);
}

.personal-information dt {
    padding-top: 20px;
    font-size: 18px;
    line-height: 40px;
    color: #9f3;
}

.personal-information dd {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
}

.contact-way a {
    color: #fff;
}

.main-info .icon-bookmark {
    width: 8px;
    height: 22px;
    background-color: #00796b;
    margin: 0 14px;
    transform: rotateZ(180deg) translateY(-2px);
}

.main-info .icon-bookmark:after {
    background-color: rgb(240, 242, 241);
    transform: rotateZ(48deg) translateY(-3px) translateX(-2px);
}

.main-info dt {
    font-size: 24px;
    line-height: 30px;
    color: #00796b;
    border-bottom: 1px solid #00796b;
    margin: 0 0 15px -5px;
}

.main-info dd {
    font-size: 15px;
    line-height: 27px;
    color: #616161;
    margin-left: 30px;
}

.main-info .basic-info p {
    margin: 10px 10px 20px 30px;
}

.basic-info {
    margin-top: 20px;
}

.exp {
    margin-left: 15px;
    border-left: 2px solid #00796b;
}

.exp > li {
    position: relative;
    top: -5px;
    margin: 0 0 20px 20px;
}

.exp h4 a {
    font-size: 12px;
    border: 1px solid #4db6ac;
    padding: 1px 3px;
    border-radius: 5px;
    margin-left: 7px;
    color: #4db6ac;
}

.main-info h4 {
    line-height: 30px;
    font-size: 18px;
    bottom: 3px;
    color: #000;
}

.main-info a i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 4px;
    border: 1px solid #4db6ac;
    border-radius: 2px;
    transform: translateX(-4px);
}

.main-info a i:after {
    float: left;
    content: "";
    width: 4px;
    height: 4px;
    margin: 4px;
    border: 1px solid #4db6ac;
    border-radius: 2px;
}

.main-info .circle {
    position: absolute;
    top: 5px;
    left: -28px;
    width: 14px;
    height: 14px;
    background-color: #00796b;
    border-radius: 7px;
}

.main-info img {
    width: 240px;
    height: 160px;
}

.main-info p {
    font-size: 15px;
    line-height: 22px;
    margin: 15px 0;
    color: #616161;
}