
.container {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 380px;
    border: 3px solid #ccc;
    margin: 20px auto;
}

p {
    text-align: center;
}

.s_txt {
    width: 30%;
    height: 35px;
    border: 2px solid rgb(204, 204, 204);
}

.s_sub {
    width: 12%;
    height: 35px;
    color: rgb(230, 80, 0);
    background-color: #fff;
    border: 1px solid rgb(230, 80, 0);
    cursor: pointer;
}

.s_del {
    width: 12%;
    height: 35px;
    color: #ccc;
    background-color: #fff;
    border: 2px solid #ccc;
    cursor: pointer;
}
